html {
  background-color: #fff !important;
}

tr > td {
	vertical-align: middle !important
	text-align: center !important;
}

.nav {
	height: auto;
	margin-bottom: 2rem;
}

.nav-item img {
	max-height: 3.5rem;
}

.active-button {
	background-color: #2E3575 !important;
}

.nav-right {
	display: flex;
	justify-content: flex-end;
}

.nav-left {
	display: flex;
	justify-content: flex-start;
}
